
**/Release+Asserts/
/solvers
/examples

config.status

**/*.log
**/*.o
**/*~
**/Output/


Makefile.common
Makefile.config
include/config.h
Debug+Asserts/
*qt.config
*qt.creator
*qt.creator.user
*qt.files
*qt.includes

